body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.skateParts {
    display: flex;
    flex-direction: column;
    background-color: #274649;
    height: 380px;
    justify-content: center;
    align-items: center;
}

.backgroundParts {
    height: 380px;
    width: 100%;
    z-index: 1;
    position: absolute;
}

.tittleParts {
    color: white;
    z-index: 2;
    padding: 20px;
    margin: 0px 0px 90px 0px;
    font-size: 25px;
}

.wheelsParts {
    z-index: 2;
    width: 50%;
}