body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: white;
}

.bill {
    height: 100%;
    width: 260px;
    background-color: #27323D;
}

.billh3 {
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

.ph3 {
    margin-left: 20px;
}

.billBtn {
    left: 30px;
    margin-left: 80px;
    box-sizing: border-box;
    background: none;
    border: none;
    color: white;
}

.billBtn:focus {
    outline: none;
}